@import "colors";
@import "mixin";

.btn{
  display: flex;
  justify-content: center;
  padding: 8px 24px ;
  background-color: $colorText;
  border-radius: 100px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 600;

  &-white{
    background-color: #fff;
    color: #243143;
  }
}