@import "colors";
@import "mixin";

.contacts{
  background: rgba(15, 24, 37, 0.05);
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 56px;

  .logo{
    max-width: 113px;
    margin-bottom: 40px;
  }

  .footer-image{
    max-width: 280px;
  }
  
  .btn{
    margin: 40px 0;
  }

  .scroll-up{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: #243143;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 48px;

    img{
      max-width: 20px;
    }
  }

  .footer{
    padding-top: 0 !important;
    padding-bottom: 24px;
  }
}